//
//  AdMob.xcconfig
//  Project_Timer
//
//  Created by 최수정 on 2022/08/22.
//  Copyright © 2022 FDEE. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ADMOB_APP_ID = ca-app-pub-3465622013453278~2204082546
ADMOB_AD_ID = ca-app-pub-3465622013453278/2559305764
